@import url('https://fonts.googleapis.com/css?family=Raleway');
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url(img/bg-body.png);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  position: center;
}

nav {
  height: 4em;
  width: 100%;
  background-color: #0E0E0E;
  position: fixed;
  z-index: 2;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
}

@media screen and (max-width: 1081px) {
  .container {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 1081px) {
  .overview-content {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
  .overview-content-upper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
  #right-side {
    float: left;
    width: 5em;
  }
  .hello-sir {
    display: none;
  }
  .hidden1 {
    display: none;
  }
  .header {
    right: 10%;
  }
  .header1 {
    /*     left: 3em; */
    left: 23%;
    bottom: 100em;
  }
  .header2 {
    /*   left: 11em; */
    left: 40%;
  }
  .header2 span {
    display: none;
  }
  .about-hidden1 {
    display: none;
  }
}

@media screen and (max-width: 1081px) {
  .header1, .header2 {
    color: white;
  }
}

@media screen and (min-width: 1081px) {
  .header3 {
    display: none;
  }
  .hidden {
    display: none;
  }
  .about-hidden {
    display: none;
  }
}

a {
  text-decoration: none;
}

.header3 {
  position: absolute;
  left: 24%;
  align-items: center;
  top: 25em;
  font-family: comfortaa;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-size: 17px;
  color: white;
  background-color: #192136;
  padding: .65em;
  transition: 1s;
}

.header3:hover {
  background-color: #34454d;
}

nav a {
  display: inline-block;
  width: 9em;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  padding: 20px 0;
  color: #e1dede;
  transition: 1s;
  font-size: 20px;
  font-family: comfortaa, myriad pro;
}

nav a:hover {
  color: #6C6C6C;
}

#logo {
  font-family: 'audiowide';
  float: left;
}

#right-side {
  float: right;
  padding-right: 10px;
}

header {
  height: 100vh;
  margin: 0;
  background-image: url("img/bgbro.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  position: center;
  display: flex;
  flex-direction: column;
  /*	justify-content: center;
	align-items: center;
	text-align: center;
*/
}

h1 {
  font-family: Audiowide;
}

.header1 {
  position: absolute;
  right: 3em;
  align-items: center;
  top: 4.3em;
  font-size: 63px
}

.header2 {
  position: absolute;
  right: 10em;
  align-items: center;
  top: 15.5em;
  font-family: audiowide;
  letter-spacing: 0.15em;
}

#bye-sir {
  position: absolute;
  right: 25%;
  align-items: center;
  top: 30%;
  font-family: Comfortaa;
}

.container {
  /*      max-width: 1200px; */
  text-align: center;
  margin: 0 auto;
  padding: 0 3rem;
  margin-bottom: -50px;
}

.overview-content {
  display: grid;
  grid-gap: 80px;
  grid-template-columns: repeat(3, 1fr);
  text-align: left;
  color: white;
  margin-top: 20px;
  margin-bottom: 100px;
  font-family: Comfortaa;
}

.overview-responsive {
  display: grid;
  grid-gap: 80px;
  grid-template-columns: repeat(1, 1fr);
  text-align: left;
  color: white;
  margin-top: 20px;
  margin-bottom: 100px;
  font-family: Comfortaa;
}

.container img {
  margin-top: 75px;
}

img {
  margin: 20px 0;
  width: 100%;
}

#part1, #part2, #part3 {
  background-color: #192136;
  padding-bottom: 1em;
}

.overview-content img {
  margin: 0;
}

footer {
  background-color: red;
}

.container p {
  line-height: 2em;
}

footer a {
  color: white;
  text-decoration: none;
  transition: 1s;
}

footer a:hover {
  color: green;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  background-color: #121212;
}

body::-webkit-scrollbar-thumb {
  background-color: #435465;
  outline: 1px solid slategrey;
  border-radius: 25px;
}

::selection {
  background: #8bd4d6;
}

.container h2 {
  background-color: #fcf800;
  color: black;
  padding: 1em;
  margin-right: 4em;
  font-size: 22px;
  font-weight: 400 font-family: Raleway;
  text-transform: uppercase;
  letter-spacing: .3rem;
}

.container p {
  padding: 1em;
}

footer {
  text-transform: uppercase;
  font-family: raleway;
  text-align: center;
  padding: 1em;
  background-color: #212633;
  color: white;
}

#nice {
  text-align: center;
}

footer img {
  width: 1.5em;
  padding: 0;
}

img.partners {
  -webkit-filter: grayscale(100%);
  transition: .5s;
}

img.partners:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

#poop {
  font-size: 13px;
  letter-spacing: .5em;
}

#gg {
  font-size: 10px;
  letter-spacing: .5em;
}

.column {
  float: left;
  width: 25%;
  padding: 5px;
}

/* Clearfix (clear floats) */

#row::after {
  content: "";
  clear: both;
  display: table;
}

#bg-parallax {
  width: 100%;
  background-size: cover;
}